.header-container{
    display: flex;
    flex-direction: column;
    background-color:rgb(55, 182, 246);

}

.header-top-container{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user-option{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
}

.header-logo{
    font-size: 25px;
    margin-left: 50px;
    color: #ffffff;
    font-weight: bold;
}

.sign{
    color: white;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;

}
.header-logout{
    color: white;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;

}
.header-register{
    color: #ffffff;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
.header-bottom-container{
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    background-color:rgb(27, 142, 199);


}

.header-search-bar{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    height: 50px;
}
.header-search-bar input {

    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px 4px 0 0; /* Rounded corners on top */
}

.header-search-bar button {
    width: 10%;
    background-color: #2b2727;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 0 0 4px 4px; /* Rounded corners on bottom */
    cursor: pointer;
    
}