.header-container{
    display: flex;
    flex-direction: column;
    background-color:rgb(55, 182, 246);

}

.header-top-container{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user-option{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
}

.header-logo{
    font-size: 25px;
    margin-left: 50px;
    color: #ffffff;
    font-weight: bold;
}

.sign{
    color: white;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;
    padding-top: 10px;

}

.username{
  color: white;
  padding-top: 10px;
    padding-right: 20px;
    font-weight: bold;
}
.header-logout{
    color: white;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;

}
.header-register{
    color: #ffffff;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
.header-bottom-container{
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    background-color:rgb(27, 142, 199);


}

.header-search-bar{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    height: 50px;
}
.header-search-bar input {

    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px 4px 0 0; /* Rounded corners on top */
}

.header-search-bar button {
    width: 10%;
    background-color: #2b2727;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 0 0 4px 4px; /* Rounded corners on bottom */
    cursor: pointer;
    
}

.paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-bottom: 25px; */
  }
  
  .button {
    background-color:rgb(27, 142, 199);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .dropdown-content {

    display: none;
    font-size: 13px;
    position: absolute;
   min-width: 200px;
    background-color:rgb(27, 142, 199);
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
  }
  
  .dropdown-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {

    background-color: rgb(55, 182, 246);
    color: #ffffff;
    font-weight: bolder;
  }
  

  .dropdown-content #top:hover {

    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {

    border-radius: 0px 0px 13px 13px;
  }
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {

    display: block;
  }
  


