.heading{
    margin-bottom: 3%;
    color: #fff;
    font-size:20px;
    font-weight: bold;
}

.heading-discription{
    margin-bottom: 5%;
    color: #fff;
    font-size:18px;
}

.registration-title{
    margin-bottom: 3%;
    color: #fff;
    font-size:35px;
    font-weight: bold;
}

.registration-discription{
    color: #fff;
    margin-bottom: 5%;
    font-size: 18px;
}



